.search-form {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2.5rem;
  box-shadow: $boxShadowBrandColor17;
  input,select{
    border:none;
  }
}

@media screen and (min-width: 992px){
  .search-form{
    background:none;
    // box-shadow: initial;
    input,select{
      // box-shadow: $boxShadowBrandColor17;
      border: none;
      border-right: 1px solid $brandColor17;
      border-radius: 0;
    }
    .btn {
      border-radius: 0;
      height: calc(2.8em + .75rem + 2px);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .form-control {
      height: calc(2.8em + .75rem + 2px);
    }
    .custom-select {
      height: calc(2.8em + .75rem + 2px);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}