.search-form {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: $boxShadowBrandColor17;
  input,select{
    border:none;
  }
}

@media screen and (min-width: 992px){
  .search-form{
    background:none;
    // box-shadow: initial;
    input,select{
      // box-shadow: $boxShadowBrandColor17;
      border: 1px solid $brandColor17;
    }
  }
}