/* 
    goco-common-responsive.css
    Gocompare.com / Common styles - Responsive
    ---
    Julien Decaudin @ Gocompare Web Team
    06/2015

    SUMMARY
    ---
    /*--------------------------------------------------=> UP TO DESKTOP: 1040px */
    /*--------------------------------------------------=> UP TO SMALL DESKTOP: 960px */
    /*--------------------------------------------------=> UP TO TABLET: 910px */
    /*--------------------------------------------------=> UP TO SMALL TABLET: 820px */
    /*--------------------------------------------------=> UP TO LANDSCAPE PHONE: 640px */
    /*--------------------------------------------------=> UP TO LARGE PORTRAIT PHONE: 560px */
    /*--------------------------------------------------=> UP TO SMALL PORTRAIT PHONE: 440px */
    /*--------------------------------------------------=> Hi-Res */
/**/

/*--------------------------------------------------=> UP TO DESKTOP: 1040px */
@media screen and (max-width: 1040px) {        
    /*============================== MASTER LAYOUT */
    header{
        width: 100%;
        min-width: 640px;
		height: 122px;		
    }

    header .content-holder{
        width: 100%; 
		height: 122px;  		
    }    

    section.content > .content-holder{
        width: 100%;        
    }
	
	footer{  
	    min-width: 640px;
		height: auto;
	}

	footer .content-holder{
	    width: 100%;
	}
	
    /*============================== CONTENT */
    h1.logo{
        padding-top: 2px;
        font-size: 0.875em; /* 14px */
    }

    h1.logo,
    h1.logo img{
        width: 232px;
        height: 96px;        
    }

    h1.logo img{        
        background-size: 232px 96px;
    }
	
	h1.logo span{		
		bottom: 18px;
	}

	footer p.footnote{
		padding: 62px 0 0 0;
	}
	
    /*============================== NAVIGATION */
    nav.main > ul > li > a{    
        padding-left: 18px;
        padding-right: 18px;    
    }	

    /*============================== MODULE */
    .module.feature ul.check-list li {    
        font-size: 0.875em; /* 14px */
        line-height: 18px;
    }
}

/*--------------------------------------------------=> UP TO SMALL DESKTOP: 960px */
@media screen and (max-width: 960px) {
    /*============================== NAVIGATION */
    nav.main > ul > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }

    nav.main .dropdown {
        width: 400px;
    }

    nav.main .dropdown.large {
        width: 720px;
    }

    nav.main .dropdown .col {
        width: 180px;
    }   

    /*============================== MODULE */
    .module.promo h3{            
        font-size: 1em; /* 16px */
        line-height: 20px;        
    }
}

/*--------------------------------------------------=> UP TO TABLET: 910px */
@media screen and (max-width: 910px) {
    /*============================== NAVIGATION */
	nav.main > ul > li > a{    
        padding-left: 10px;    
        padding-right: 10px;    
    }  

    /*============================== MODULE */
    /* Feature module */
    .module.customer-promise.small h3{
        font-family: 'SourceSansProSemiBold', 'Calibri', 'Arial', sans-serif;  
        font-size: 0.875em; /* 14px */
        font-weight: 600;
        line-height: 18px;
    }

    .module.feature ul.check-list li {
        display: block;
        width: 100%;
        font-size: 1em; /* 16px */
        line-height: 20px;
    }

    .module.customer-promise.small ul.check-list.large li {    
        font-size: 0.875em; /* 14px */
        line-height: 18px;
    }

    .module.feature ul.check-list li:nth-child(1n+4){    
        display: none;
    }    

    .module.customer-promise.small:before{    
        display: none;
    }

    /* Featured partners */
    .module.featured-partners {
        width: 100%;
    }

    /* Promo */
    .module.promo h3{                       
        font-size: 0.875em; /* 14px */
        line-height: 18px;        
    }

    .module.promo img{           
        width: 70px;
        height: 45px;  
        background-size: 70px 45px;        
    }
}

/*--------------------------------------------------=> UP TO SMALL TABLET: 820px */
@media screen and (max-width: 820px) {
    /*============================== NAVIGATION */
     nav.main > ul > li > a{            
        padding: 11px 22px 10px 22px;
        border-bottom: 1px solid transparent;   
    }

     nav.main > ul > li.active > a,
     nav.main > ul > li:hover > a,
     nav.main > ul > li > a:hover{        
        border-bottom-color: #259a30;
    }

     nav.main > ul > li.active .dropdown,
     nav.main > ul > li:hover .dropdown {
        display: none;
    }
    
	 nav.main > ul > li.extra{    
        display: none;
    }

     nav.main > ul > li.extra-menu{    
        display: block;    
    }         

    /*============================== MODULE */
    /* Feature module */
     .module.feature{        
        height: 245px;    
    }

     .module.feature ul.check-list li {     
        font-size: 0.875em; /* 14px */
        line-height: 18px;
    }

     .module.feature ul.check-list li:nth-child(1n+4){    
        display: block;
    }  

    /* Reviews */
     .module.reviews{        
        height: 245px;    
    }

    /* Promo */
     .module.promo{
        height: 245px;
    }

     .module.promo h3{                           
        text-align: center;        
    }

     .module.promo .button-holder{
        position: absolute;
        width: 140px;
        margin: 0 0 0 -70px;
        left: 50%;
        bottom: 25px;
    }

     .module.promo img{                   
        float: none;
        margin: 0 auto 10px auto;
        width: 90px;
        height: 58px;  
        background-size: 90px 58px;
    }  
    
    /* Featured partners */ 
    .module.featured-partners p{
        padding-left: 80px;
        padding-right: 80px;
    }

    /* Article insert */
    .article-insert {  
        float: none;      
        width: calc(100% + 42px);        
        margin-left: -21px;
        margin-right: 0px;        
    }

    .article-insert:after{
        content: none;
    }

    .help-insert {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }  
}

/*--------------------------------------------------=> UP TO LANDSCAPE PHONE: 640px */
@media screen and (max-width: 640px) {
    /*============================== MASTER LAYOUT */
    /*------------ HEADER */
    header{
        width: 100%;
        min-width: 320px;
        height: 48px;
    }

    header .content-holder{
        position: static;
        width: 100%;
        height: 48px;  
    }

    header .content-holder:after{
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    /*------------ CONTENT */
    section.content{
        width: 100%;
        min-width: 320px;       
    }

    section.content > .content-holder{
        width: 100%;        
        padding-top: 20px;
    }
    
    /*------------ CONTENT GRID */
    section.content .row{
        padding: 0;
    }

    section.content [class*='col-']{
        float: none;
        padding-right: 0px;    
        width: 100%;
    }

    /*------------ FOOTER */
    footer{  
        min-width: 320px;      
        height: auto;        
    }

        footer .content-holder {
            background: url(../img/logo-goco_17-w.svg) no-repeat 20px 35px;
            background-size: 140px 24px;
            background-position: 20px calc(100% - 20px);
        }

    footer .substantation{        
        width: 100%;        
        left: 0;
        padding: 0 20px 30px 20px;
    }

    /*============================== CONTENT */
    /*------------ HEADERS */
    h1.logo{  
        float: left;      
        width: 172px;
        height: 48px;
        margin-left: 10px;     
        padding-top: 0;
        font-size: 0.75em; /* 12px */                
    }

    h1.logo img{
        width: 172px;
        height: 48px;
        background-image: url(../img/logo-goco-m.png);   
		background-size: 172px 48px;       
    }

    h1.logo span{
        position: absolute;               
        bottom: 0px;
    }

    section.content h2{        
        padding-bottom: 5px;
        font-family: 'SourceSansProSemiBold', 'Calibri', 'Arial', sans-serif;  
        font-size: 1.125em; /* 18px */
        font-weight: 600;
        line-height: 22px;     
    }

    /*------------ PARAGRAPHS */
    p.intro{    
        font-size: 1em; /* 16px */        
        line-height: 20px;    
    }

    footer p.footnote{            
        padding: 20px 0 0 0;         
    }

    /*------------ LINKS */        
    a.nav-switch{ 
        display: block;
    }
    
    /*------------ LISTS */

    /*------------ BUTTONS */    
    .button.back{    
        padding: 12px 15px 11px 15px;        
    }

    .button.back:before{        
        width: 7px;        
        background-position: -32px -48px;            
    }
    
    .button.result-commit{ 
        width: 75px;    
        padding: 62px 0 22px 0; 
        font-size: 12px;
        -webkit-border-top-left-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .button.result-commit:after{  
        display: block;      
        position: absolute;
        width: 15px;
        height: 22px;
        margin-left: 0px;
        background-position: -96px -80px;
        top: 25px; 
        right: 29px;
    }

    /*------------ TOOLTIPS */
    .tooltip-link{
        display: block;
    }

    .tooltip-link.hide{
        display: none;
    }

    .tooltip-link{
        position: relative;
        width: 40px;
        height: 40px;
        padding: 0;
        background: #ffeb6c;
        border: 1px solid #b49c17;
         -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.2); 
        -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.2); 
        box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
        z-index: 10;
    }
    .tooltip-link:before {
        content: '';
        position: absolute;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #ffeb6c;
        border-top: 5px solid transparent;
        left: -5px;
        top: 15px;
        z-index: 20;       
    }
    .tooltip-link:after {
        content: '';
        position: absolute;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #b49c17;
        border-top: 5px solid transparent;
        left: -6px;
        top: 15px;
        z-index: 19;       
    }
    .tooltip-link span {
        position: absolute;
        width: 9px;
        height: 14px;        
        background: url(../img/icons.png) no-repeat -80px -32px;  
        top: 13px;
        left: 50%;
        margin-left: -5px;
    }
  
    .tooltip .close{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;        
        top: 0px;
        right: 0px;
        text-indent: -9999px;   
        z-index: 99;     
    }

    .tooltip .close:before{
        display: block;
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        background: url(../img/icons.png) no-repeat -48px -32px;
        top: 15px;
        left: 50%;
        margin-left: -6px;
        text-indent: -9999px;
    }
 
    /* Help tooltip */
    .tooltip.help{         
        width: calc(100% + 30px);               
        padding-right: 30px;
        border-right: none;
        -webkit-border-radius: 3px 0px 0px 3px;
        -moz-border-radius: 3px 0px 0px 3px;
        border-radius: 3px 0px 0px 3px;     
        font-size: 0.875em; /* 14px */
        line-height: 18px;
    }

    .tooltip.help li{
        line-height: 18px;
    }

    .tooltip.help .content-holder{
        padding: 10px 20px 0px 15px;
    }   

    .tooltip.help:before,
    .tooltip.help:after{
        display: none;
    }

    .tooltip.help .close{        
        right: 6px;
    }

    .tooltip.help .close:before{        
        background-position: -64px -32px;        
    }

    .tooltip.help li:before{        
        top: 7px;
    }

    /* Info tooltip */
    .tooltip.info{
        width: 215px;
    }

    .tooltip.info:before,
    .tooltip.info.bottom:before{    
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #ababab;
        border-bottom: 7px solid transparent;
        left: auto;  
        right: 15px;
        top:  auto;  
        bottom: -14px;
        margin-left: 0;    
    }

    .tooltip.info:after,
    .tooltip.info.bottom:after{        
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid #ffffff;
        border-bottom: 7px solid transparent;
        left: auto;  
        right: 15px;
        top:  auto;  
        bottom: -13px;
        margin-left: 0;          
    }

    .tooltip.info .close:before {
        top: 14px;
    }

    /*============================== FORMS */
    /*------------ TEXT INPUT */
    /* Medium, large & extra large */
    .input-text.medium,    
    .input-text.large,
    .input-text.xlarge{
        width: 80%;
    }

    /*============================== NAVIGATION */
    /*------------ TOOLBAR */
    .header-toolbar{        
        position: absolute;
        width: 100%;
        min-width: 320px;
        height: 40px;
        top: 4px;
        left: 0px;        
        padding: 0;
    }

    .header-toolbar p{
        display: none;
    }

    .header-toolbar ul{
        display: block;        
    }

    .header-toolbar li{
        float: none;
        display: block;
        position: static;
    }

    .header-toolbar li a{
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        left: auto;
        right: 70px;
        padding: 0;
        text-indent: -9999px;
    }    

    .header-toolbar li.account a:before {
        width: 13px;
        height: 16px;
        background-position: 0px -176px;
        top: 11px;
        left: 50%;
        margin-left: -7px;
    }

    .header-toolbar li.account.signed-in a:before {
        width: 22px;
        height: 26px;
        background-position: -16px -176px;        
    }

    .account-container {
        float: none;
        padding: 0;
        border: none;
        background: transparent;    
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }    

    .session-container {
        display: none;        
    }

    /*------------ MAIN NAVIGATION */
    nav.main{
        display: none;
        position: absolute;
        width: 100%;
        min-width: 320px;
        height: calc(100% - 48px);
        padding: 0;
        top: 48px;
        left: 0;
        bottom: auto;        
        z-index: 99;
        background: rgba(29,29,29,.95);
    }

    nav.main > ul > li.extra{    
        display: block;
    }

    nav.main > ul > li.extra-menu{    
        display: none;    
    }

    nav.main > ul{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin: 0;    
        padding: 5px 30px 0 30px;
        list-style-type: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;  
        background: transparent;                
    }

    nav.main > ul > li {
        float: none;
        display: block;
        border-top: 1px solid #fff;
        text-align: center;
    }

    nav.main > ul > li:first-child{        
        border-top: none;
    }

    nav.main > ul > li > a {
        display: block;
        padding: 15px 0px 15px 0px;
        border: none;
    }

    nav.main > ul > li.active > a,
    nav.main > ul > li:hover > a,
    nav.main > ul > li > a:hover{
        color: #47b74b;
        background-color: transparent;
        border-top: none;
    }

    nav.main > ul > li.coveredmag:hover > a:after,
    nav.main > ul > li.coveredmag > a:hover:after {
        background: #47b74b;
    }

    nav.main > ul > li.search{
        position: static;
        border-top: none;
        margin-top: 5px;
    }

    nav.main > ul > li.search > a{
        display: none;
    }

    nav.main > ul > li.search .dropdown{
        display: block !important;
        position: static;
        float: none;
        width: 100%;
        padding: 0;
        background: transparent;
        -moz-box-shadow: none; 
        -webkit-box-shadow: none; 
        box-shadow: none; 
    }

    nav.main > ul > li.search .dropdown .input-text{        
        width: 100%;        
        border: 1px solid #fff;
    }    

    /*------------ TABS NAV */
    nav.tabs-nav{
        position: relative;
        float: none; 
        width: 100%;
        padding: 0px;
        margin: 0px;
        background: #ffffff;        
        border: none;   
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.tabs-nav:before,
    nav.tabs-nav:after{
        content: none;        
    }

    nav.tabs-nav .mobile-tab{
        position: relative;
        display: block;
        padding: 13px 10px 12px 50px;
        color: #fff;
        background: #47b74b;
        border-bottom: 1px solid #259a30;
        font-family: 'SourceSansProBold', 'Calibri', 'Arial narrow', sans-serif;  
        font-size: 0.875em; /* 14px */
        font-weight: 700;
        line-height: 18px;
        text-decoration: none;
        text-transform: uppercase;
    }

    nav.tabs-nav .mobile-tab:before {
        content: '';
        position: absolute;        
        width: 5px;
        height: 44px;
        top: 0;
        left: 0px;
        background: #008014;
    }

    nav.tabs-nav .mobile-tab:after {
        content: '';
        position: absolute;        
        width: 20px;
        height: 16px;
        top: 13px;
        left: 20px;
        background: url(../../_common/img/icons.png) no-repeat -32px -144px;
    }

    nav.tabs-nav .mobile-tab:hover{    
        background: #38a83d;
        border-color: #008014;
    }

    nav.tabs-nav .mobile-tab:active{    
        background: #259a30;
        border-color: #006600;
    }

    nav.tabs-nav .mobile-tab:active:before{        
        background: #006600;
    }

    nav.tabs-nav ul{
        display: none;
        margin: 0;
        padding: 0;
        -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
        -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);  
    }    

    nav.tabs-nav li{
        display: block;
        width: 100%;
    }

    nav.tabs-nav > ul > li a,
    nav.tabs-nav > ul > li.selected a,
    nav.tabs-nav > ul > li.default a{            
        width: auto;                
        border: none;
        border-bottom: 1px solid #c6c6c6;        
    }

    nav.tabs-nav li a:active{
        border-color: #ababab;     
    }

    nav.tabs-nav li.mousedown a {
        border-bottom-color: #ababab;
    }

    nav.tabs-nav li a:before {                    
        left: 0;        
    }

    nav.tabs-nav > ul > li a:after,
    nav.tabs-nav > ul > li.selected a:after,
    nav.tabs-nav > ul > li.default a:after{
        content: none;
    }

    nav.tabs-nav > ul > li.selected a{
        border-color: #259a30;     
    }

    nav.tabs-nav > ul > li.selected a:hover{
        border-color: #008014;     
    }

    nav.tabs-nav > ul > li.selected a:active{
        border-color: #006600;     
    }

    /* Clear default styling */
    nav.tabs-nav > ul > li.default a{        
        color: #333;
        background: #fff;
        border-color: #c6c6c6;        
    }

    nav.tabs-nav > ul > li.default a:before {
        background: #c6c6c6;
    }

    nav.tabs-nav > ul > li.default a:hover {
        background: #f1f1f1;
        border-color: #c6c6c6;       
    }

    nav.tabs-nav > ul > li.default a:active {
        background: #e2e2e2;
        border-color: #ababab;
    }

    nav.tabs-nav > ul > li.default a:active:before {
        background: #ababab;
    }

    /* Opened */
    nav.tabs-nav.open ul{
        display: block;
    }

    nav.tabs-nav.open .mobile-tab {
        background: #008014;
        border-bottom-color: #008014;
    }

    /*------------ FOOTER NAVIGATION */
    footer nav{
        float: none;
		margin-left: 0;
    }

    footer nav ul{    
        /*display: inline-block;    */
        text-align: center;
    }

    footer nav li{
        display: inline-block;
        padding: 0 20px 10px 0;        
    }

    footer nav li a {
        display: inline-block;
    }

    footer nav li:after{
        left: auto;     
        right: 9px;
        top: 3px;
    }

    footer nav li:first-child:after{
        display: block;
    }

    footer nav li:last-child:after{
        display: none;
    }     
    
    /*============================== MODULE */
    .module{
        height: auto !important;
        border-left: none;
        border-right: none;
        text-align: left;
    }

    .module h3,
    .module ul.check-list{
        text-align: left;
    }    

    .module h3{
        font-family: 'SourceSansProSemiBold', 'Calibri', 'Arial', sans-serif;  
        font-size: 0.875em; /* 14px */
        font-weight: 600;
        line-height: 18px;
    }

    .module .small-button{
        position: static !important;    
        left: auto;
        bottom: auto;             
    }    

    .module.feature{
        text-align: center;        
    }

    .module.feature img{
        width: 80px;
        height: 62px;
        background-size: 80px 62px;        
    }

    .module.feature ul.check-list{    
        padding-bottom: 10px;
    }

    .module.feature ul.check-list li{    
        display: inline-block !important;
        width: 49.5%;
    }

    .module.feature .small-button{
        max-width: 230px;
    }

    .module.promo{
        max-width: 300px;
        /*width: calc(100% - 20px);*/
        height: 180px;
        margin-left: auto;
        margin-right: auto;
    }

    .module.promo h3{          
        text-align: left;
        font-size: 1.125em; /* 18px */
        line-height: 22px;
    }

    .module.promo .button-holder{        
        width: 190px;
        margin: 0 0 0 -95px;                
    }

    .module.promo img{                   
        float: right;
        margin: 0;
    }      
    
    /*------------ FEATURED PARTNERS */    
    .module.featured-partners .ribbon{
        margin-bottom: 20px;
    }

    .module.featured-partners .ribbon .fold{        
        width: 20px;        
    }

    .module.featured-partners .ribbon .fold.left{        
        left: 10px;
    }

    .module.featured-partners .ribbon .fold.right{        
        right: 10px;        
    }

    .module.featured-partners p{
        padding-left: 20px;
        padding-right: 20px;
    }

    /*------------ ARTICLE INSERT */
    .article-insert {
        width: calc(100% + 40px);
        margin-left: -20px;
    }

    /*------------ GOCO INTRO */
    .module.gocointro{
        height: 350px !important;
        overflow: hidden;
    }

    .module.gocointro.open{
        height: auto !important;        
    }

    /*============================== FEED */
    /*------------ COVERED MAG */
    .feed.coveredmag{
        float: none;
        margin: 0 auto;
    } 

    /*============================== MODALS */
    .modal,
    .modal.large{
        width: 100%;
        height: 100%;               
        top: 0;
        left: 0;
        margin-left: 0;
        background: transparent;    
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .modal .mobile-holder{
        height: calc(100% - 20px);
        min-height: 250px;
        margin: 10px;
        background: #ffffff;    
        -moz-box-shadow: 0 0 25px 0 rgba(0,0,0,.2);
        -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,.2);
        box-shadow: 0 0 25px 0 rgba(0,0,0,.2);
    }

    .modal .content-holder {
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .modal .content-holder > h2{
        font-family: 'SourceSansProSemiBold', 'Calibri', 'Arial', sans-serif;  
        font-size: 0.875em; /* 14px */
        font-weight: 600;
        line-height: 18px;   
        padding-bottom: 6px;  
        margin-left: 20px;
        margin-right: 20px;                   
    }
    
    .modal .close{
        top: 10px;
        right: 10px;
    }

    .modal .close:before{
        top: 17px;
    }

    .modal .content-holder > section{
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        height: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px; 
        padding-bottom: 20px;
    }

    .modal .content-holder > section > p{
        font-size: 0.875em; /* 14px */
        line-height: 18px;
    }   

    /*============================== MISC */
    /*------------ COOKIE POLICY BANNER */
    .cookie-policy-banner p{        
        margin-right: 0px;        
    }

    /*------------ SOCIAL LINKS */
    .social-links {
        float: none;
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .social-links h3{
        float: none;
        display: inline;
        position: relative;
        bottom: -8px;
    }    

    /*============================== UTILS */
    .desktop-only{
        display: none !important;
    }
    .mobile-only{
        display: block !important;
    }
}

/*--------------------------------------------------=> UP TO LARGE PORTRAIT PHONE: 560px */
@media screen and (max-width: 560px) {    
    /*============================== MODULE */
    .module.feature img{        
        bottom: 60px;
    }  

    .module.feature ul.check-list li{    
        display: block !important;
        width: 100%;
    } 
}

/*--------------------------------------------------=> UP TO SMALL PORTRAIT PHONE: 440px */
@media screen and (max-width: 440px) {    
    /*============================== MODULE */
    .module.feature img{
        display: none;        
    }  
}

/*--------------------------------------------------=> Hi-Res */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 640px), only screen and (min--moz-device-pixel-ratio: 2)     and (max-width: 640px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 640px), only screen and (min-device-pixel-ratio: 2) and (max-width: 640px), only screen and (min-resolution: 192dpi) and (max-width: 640px), only screen and (min-resolution: 2dppx) and (max-width: 640px){
    .tooltip .close:before,
    .button.result-commit:after,        
    .tooltip-link span ,
    nav.tabs-nav .mobile-tab:after
    {        
        background-image: url(../img/icons@2x.png);     
        background-size: 224px 256px;   
    }  

    h1.logo img{    
        background-image: url(../img/logo-goco-m@2x.png);        
        background-size: 172px 48px;    
    }       
}