.compare-nav-blocks {
  background-color: lighten($brandColor17, 5%);
  .card {
    box-shadow: $boxShadowBrandColor17;
    background-color: white;
    padding: 30px 10px;
    border: none;
    display: flex;
    height: 100%;
    .card-body{
      padding:0;
      text-align:center;
      a{
        font-size:1rem;
        color: $brandColor1;
      }
    }

    img {
      object-fit: contain;
      height: 35px;
      max-width: 35px;
      margin-bottom: 0.5rem;
    }
  }
  .card:hover {
    background-color: $brandColor18;
  }
}