.faq {
  background:$linearGradient1to2;
  position:relative;
  overflow:hidden;
  &:before{
    content: "";

    position: absolute;

    left: -75vh;
    top: calc( 50% - 75vh );
    width: 150vh;
    height: 150vh;

    background: rgba(255,255,255,0.2);
    border-radius:50%;

    z-index:0;

    @media screen and (min-width: 992px){

      left: -60vw;
      top: calc( 50% - 60vw );
      width: 120vw;
      height: 120vw;
    }

  }
  .card{
    .card-body {
      padding: 3rem 6rem;
    }
    .main-content{
      text-align: center;
      h3 {
        margin-bottom: 2.5rem;
      }
      h4 {
        color:$brandColor16;
        line-height: 1.8rem;
        margin-bottom: 1rem;
      }
    }
    .faq-list{
      .faq-item:last-child{
        hr{
          display:none;
        }
      }
      h4 {
        margin-bottom: 1rem;;
      }
      hr {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
      }
    }
    .cta-button{
      text-align: center;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: 992px){
  .faq{
    .main-content{
      width: 80%;
    }
  }
}