.header-2-columns {
  background: $linearGradientWhiteto19;
  .main-content {
    text-align: center;
  }

  .left-side {
    .left-side-image {
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 300px;
    }
  }

  .right-side {
    .card {
      box-shadow: $boxShadowBrandColor17;
      text-align: left;
      padding: 40px 30px !important;
      img {
        max-height: 110px;
        margin-bottom: 0;
        padding-bottom: 0 !important;
      }

      .slick-slide {
        >div {
          padding: 0.5rem;
        }
      }
      .col-lg-3 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h4 {
        margin-bottom: 1rem;
      }
      span {
        color: $brandColor15;
      }
      span a {
        color: $brandColor15;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .header-2-columns {
    .left-side {
      .left-side-image {
        object-fit: unset;
        height: 80%;
      }
    }
  }
}