.landing-hero {
  background-color: lighten($brandColor17, 5%);
  position: relative;
  // overflow: hidden;


  .background-wrapper{
    &:before {
      content: "";

      display: none;

      @media screen and (min-width: 992px) {
        display: block;
      }

      position: absolute;

      width:100%;
      height:100%;
      top:0;

      background-image: url(../images/rcd/runners.png);
      background-size: contain;
      background-position: bottom right;
      background-repeat: no-repeat;
      z-index: 2;
    }

    &:after {
      content: "";

      position: absolute;

      left: 45vw;
      bottom: -25vw;
      width: 70vw;
      height: 70vw;

      background: $brandColor18;
      border-radius: 50%;

      z-index: 1;

    }
  }

  // :before {
  //   content: "";

  //   display: none;

  //   @media screen and (min-width: 992px) {
  //     display: block;
  //   }

  //   position: absolute;

  //   width:100%;
  //   height:100%;
  //   top:0;

  //   background-image: url(../images/rcd/runners.png);
  //   background-size: contain;
  //   background-position: bottom right;
  //   background-repeat: no-repeat;
  //   z-index: 2;
  // }

  // &:after {
  //   content: "";

  //   position: absolute;

  //   left: 45vw;
  //   bottom: -25vw;
  //   width: 70vw;
  //   height: 70vw;

  //   background: $brandColor18;
  //   border-radius: 50%;

  //   z-index: 1;

  // }


  h2 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }

  .container {
    z-index: 2;
    position: relative;
    .main-content {
      text-align: center;
    }
    .landing-nav-blocks {
      .card {
        box-shadow: 0 0 10px #dfdfdf;
        background-color: white;
        padding: 30px 10px;
        border: none;
        display: flex;
        height: 100%;
        text-align: center;
        img {
          object-fit: contain;
          height: 40px;
          max-width: 60px;
          margin-bottom: 0.5rem;
        }
        p {
          font-size: 1rem;
          color: $brandColor16;
        }
      }
      .card:hover {
        background-color: $brandColor18;
        text-decoration: none !important;
        a:hover {
          text-decoration: none !important;
        }
      }
    }
    .checklist {
      img {
        height: 1rem;
        margin-top: 5px;
      }

      p {
        margin-left: 30px;
      }
    }
    .desktop-main-content .main-content {
      @media screen and (min-width:992px){
        text-align: left;
      }
    }
    .desktop-secondary-content {
      img.white-circular-logo {
        position: absolute;
        bottom: 10%;
        left: 5%;
        background: white;
        width: 96px;
        padding: 0.1em;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }

  .bottom-text-cta a {
    text-decoration: underline;;
  }

}
