.landing-faq {
  .card{
    border:none;
    .main-content{
      text-align: center;
    }
    .faq-list{
      .faq-item:last-child{
        hr{
          display:none;
        }
      }
    }
    .cta-button{
      text-align: center;
    }

        hr {
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
      }
  }
}

@media screen and (min-width: 992px){
  .landing-faq{
    .main-content{
      width: 66%;
    }
  }

  .faq-list h4 {
    margin-bottom: 1rem;
}
}