// For conflicts
header {
    a.nav-link {
        font-size: 1rem;

        &.dropdown-toggle {
            border: none;
            font-size: unset;
            font-weight: unset;
            line-height: unset;

            &::after {
                content: "";
                border: unset;
                background-image: url(/images/icons/icon-chevron-down.svg);
                background-position: center;
                position: absolute;
                background-size: contain;
                width: 12px;
                margin-top: 3px;
                height: 12px;
                background-repeat: no-repeat;
            }
        }
    }
}

.alert .btn span{
    line-height: unset;
}

footer{
    a{
        font-family: sofia-pro!important;
    }
}


.SofiaPro{
    &-UltraLightitalic,
    &-Bold,
    &-Bolditalic,
    &-ExtraLight,
    &-Blackitalic,
    &-Black,
    &-Light,
    &-Medium,
    &-Lightitalic,
    &-ExtraLightitalic,
    &-Regular,
    &-Mediumitalic,
    &-SemiBold,
    &-Regularitalic,
    &-UltraLight,
    &-SemiBolditalic {
        font-family: sofia-pro;
    }
}
.font-semibold {
    font-family: sofia-pro;
}

.bootstrap-select.big .dropdown-toggle{
    font-family: sofia-pro;
}



