// For conflicts
header {
    a.nav-link {
        font-size: 1rem;

        &.dropdown-toggle {
            border: none;
            font-size: unset;
            font-weight: unset;
            line-height: unset;

            &::after {
                content: "";
                border: unset;
                background-image: url(/images/icons/chevron-down.svg);
                background-position: center;
                position: absolute;
                background-size: contain;
                width: 16px;
                margin-top: 2px;
                height: 16px;
                background-repeat: no-repeat;
            }
        }
    }
}

footer{
    a{
        font-family: sofia-pro!important;
    }
}
